<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gift Shop</title>
    <link href="/static/css/about.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
		<h1>Gift Shop</h1>
		<nav>
			<ul>
		     <li><a href="{% url 'home' %}">HOME</a></li>
             <li><a href="{% url 'shop' %}">SHOP</a></li>
             <li><a href="{% url 'login' %}">LOGIN</a></li>
			</ul>
		</nav>
	</header>
    <div class="about-us">
        <h1>About Our Online Gift Shop</h1>
        <p>Welcome to our online gift shop! We are a small, family-owned business that is dedicated to providing our customers with high-quality gifts for all occasions.</p>
        <h2>Our History</h2>
        <p>Our shop was founded in 2023 by Evans Ochieng. As a family guy, he was always on the lookout for unique and special gifts to give to his family and friends. He decided to start his own gift shop to help others find the perfect gift for their loved ones.</p>
        <h2>Our Products</h2>
        <p>At our online gift shop, we offer a wide range of products for all occasions, including birthdays, weddings, anniversaries, and holidays. We source our products from a variety of suppliers to ensure that we offer unique and high-quality gifts that you won't find anywhere else.</p>
        <h2>Our Mission</h2>
        <p>Our mission is to provide our customers with a convenient and easy way to find the perfect gift for any occasion. We believe that giving a thoughtful gift can make a big difference in someone's life, and we are dedicated to helping our customers do just that.</p>
    </div>
</body>
</html>


 

