<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/static/css/base.css" rel="stylesheet" type="text/css">
    
</head>
<body>
   
    
    <h1>Welcome to our online gift shop,<br> where you can find the perfect<br> present for any occasion!</h1>
    <div class="buttonlink">
        <a href="{% url 'signup' %}" ><button class="button"><b>Get started</b></button></a>
    
        <a href="{% url 'login' %}" class="login"><button class="loginbutton"><b>Login</b></button></a>
    </div>
</body>
</html>