<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
<p>Hi {{ user.username }},</p>

<p>We received a request to reset the password for your account on our site.</p>

<p>Your new password is:</p>

<p><strong>{{ new_password }}</strong></p>

<p>Please use this new password to log in to your account, and remember to change your password as soon as possible for security reasons.</p>

<p>Thanks for using our site!</p>

<p>-- The Example Team</p>

<img src="{% static 'example_logo.png' %}" alt="Example Logo">

</body>
</html>